<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1> Welcome To Add Your Recipe App </h1>
    
    <form action="/auth/sign-in" method="POST">
      <label for="username">Username:</label>
      <input type="username" name="username" id="username" required />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <button type="submit">Sign in</button>
    </form>
    
  </body>
  <img src="/images/IMG_1204 2.JPG" alt="Logo" style="height: 50vh; align-items: center; display: flex; flex-direction: column; justify-content: center; margin: 60px 100px;">
</html>