
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(30, 188, 241)
}

h1 {
  color: darkblue;
}

ul {
  list-style-type: none;
  padding: 0;
  color: gray;
}

li {
  margin: 5px 0;
}
button {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
  /*body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}*/