* body{
  background-image: url("../images/IMG_1198.JPG");
  background-size: cover;
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
button {
  background-color: rgb(232, 170, 191);
  color: black;
}
p {
  color: rgb(240, 25, 90);
}
h1{
  color: darkcyan;
  
}
@media (max-width: 500px){
 body{
  max-width: 200px;
 }
};
  /*body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}*/