* body{
  background-image: url("../images/IMG_1198.JPG");
  background-size: cover;
justify-content: center;

}
.auth-box {
  display: flex;
  border: 2px solid; 
  border-radius: 5px;

}

button {
  background-color: rgb(232, 170, 191);
  color: black;
}

input[type="text"]{
  display:inline-flex;
background-color: rgb(247, 203, 145);
width: 50%; 
margin: 10px 0;
border-radius: 20px;
box-sizing: content-box;

}
input[type="username"],
input[type="password"] {
  background-color: lavender;


}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;

}

p {
  color: rgb(2, 63, 4);
  display: block;

}
h1{
  color: rgb(236, 55, 116);
text-align: center;
}

@media (max-width: 500px){
 body{
  max-width: 200px;
 }
};
  /*body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}*/