<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Recipes</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/> 
</head>
<body>
    <a href="/users/<%= user._id %>/recipes/new">Add Your Recipe</a>
    <ul>
      <% if (recipes && recipes.length) { %>
        <% recipes.forEach((recipe) => { %>
          <li>
            <a href="/users/<%= user._id %>/recips/<%= recipe._id %>">
              <p><%= recipe.name %></p> <!-- Display recipe name -->
            </a>
          </li>
        <% }); %>
      <% } else { %>
        <li>No recipes found.</li>
      <% } %>
    </ul>
</body>
</html>